{{#if value}}
	<a href="#{{module}}/{{record}}/layout/blockedit/{{fieldname}}">Click here to update block content</a>
{{else}}
	<a href="#{{module}}/{{record}}/layout/blockedit/{{fieldname}}">No value. Click here to add content.</a>
{{/if}}
